
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: #585858;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  outline: none;
  background: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  color: #eeeeee;
}

li {
  list-style-type: none;
}

.gallery {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #EEEFF2;
}

.gallery li {
  font-size: 1.4rem;
  margin-right: 1rem;
  cursor: pointer;
  padding: 1.5rem 0;
}

.gallery li.active {
  color: #0199E5;
  border-bottom: 2px solid #0199E5;
}

.gallery li:hover,
.discover-nav li a:hover,
.main-nav a:hover {
  color: #0199E5;
}

.grid {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #F7F8FA;
}

.grid-item {
  margin: 1.2rem;
  text-align: center;
  position: relative;
}

.grid-item .link-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.grid-item .link-wrap:hover ~ .space-list-item {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 9px 0 rgba(0, 0, 0, 0.12);
}

.grid-item .gallery-name {
  color: #585858;
  z-index: 101;
  position: relative;
  -webkit-transition: color 0.35s ease-out;
  -moz-transition: color 0.35s ease-out;
  transition: color 0.35s ease-out;
}

.grid-item .gallery-name:hover {
  color: #0199E5;
}

.space-list-item {
  width: 36rem;
  height: 35rem;
  background: #fff;
  position: relative;
  -moz-transition: box-shadow 0.35s ease-out;
  -webkit-transition: box-shadow 0.35s ease-out;
  transition: box-shadow 0.35s ease-out;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 0 6px 0 rgba(0, 0, 0, 0.12);
}

.space-list-item:hover {
  cursor: pointer;
}

.space-list-item,
.space-list-item li {
  margin-bottom: 7px;
}

.space-list-item li:nth-of-type(2) {
  font-size: 1.8rem;
}

.space-list-item li:nth-of-type(2):hover {
  color: #0199E5;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 101;
  position: relative;
}

.avatar:hover {
  -webkit-transition: opacity 0.35s ease-out;
  -moz-transition: opacity 0.35s ease-out;
  transition: opacity 0.35s ease-out;
  opacity: 0.75;
}


.photo {
  height: 24rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-size: contain;
  background: no-repeat center;
}

.photo-by {
  font-size: 1.2rem;
  color: #b9c1c7;
}

.photo-by ~ a {
  font-size: 1.4rem;
  color: #585858;
  z-index: 101;
  position: relative;
  -webkit-transition: color 0.35s ease-out;
  -moz-transition: color 0.35s ease-out;
  transition: color 0.35s ease-out;
}

.photo-by ~ a:hover {
  color: #0199E5;
}

.main-nav {
  width: 100%;
  display: inline-flex;
  align-items: center;
  background: #222222;
  padding: 4px 0 4px 10%;
}

.main-nav ul{
  display: inline-flex;
  width: 40%;
  z-index: 100;
}

.main-nav a.active {
  color: #0199E5;
}

.icon-container .icons {
  width: 100%;
}

.icon-container{
  display: inline-flex;
  align-items: center;
}

.icon-container a:nth-of-type(1){
  width: 25%;
  margin-right: 5%;
}

.main-nav li {
  width: 20%;
}

.main-nav li:nth-last-child{
  width: 100%;
}

.nav-right{
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 65%;
  z-index: 100;
}

.nav-right span{
  width: 10rem;
  display: inline-flex;
  align-items: center;
}


.main-nav a {
  color: #B7C1CA;
  font-size: 1.2rem;
}


.main-nav .avatar,
.main-nav .upload{
  width: 2rem;
  height: 2rem;
  margin-right: 7%;
}

.header-sticky {
  position: absolute;
  text-align: center;
  background: white;
  width: 100%;
  z-index: 200;
  -webkit-transition: box-shadow 0.25s ease-out;
  -moz-transition: box-shadow 0.25s ease-out;
  transition: box-shadow 0.25s ease-out;
}

.sticky {
  position: fixed;
  background: #fff;
  top: 0;
  width: 100%;
  z-index: 200;
  box-shadow: 0 -2px 6px 2px #555
}

.discover-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #EEEFF2;
  font-size: 1.4rem;
}

.discover-nav li {

  margin-right: 1.5rem;
  padding: 1.6rem 0;
  background: #fff;
  cursor: pointer;
  font-weight: bold;
}

.discover-nav a {
  padding: 15px 0;
  color: #585858;
}

.discover-nav li a.active {
  color: #0199E5;
  font-weight: bold;
  border-bottom: 2px solid #0199E5;
}

.search-box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #333333;
  font-size: 1.4rem;
  width: 400px;
  max-width: 400px;
  margin-right: 5%;
}

.search-input {
  background-color: transparent;
  border: 0;
  padding: 2% 5%;
  font-size: 1em;
  position: relative;
  outline: none;
  width: 60%;
}

.search-icon {
  float: right;
  margin-right: 5px;
  width: 50px;
}

.search-icon img {
  float: right;
  width: 50%;
  cursor: pointer;
}

.photos-container {
  width: 100%;
  background: #ffffff;
}

.photo-thumbnail {
  transform: translateZ(0);
  cursor: pointer;
  overflow: hidden;
}

.info-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  min-height: 50px;
  transform: translateY(100%);
  transition: transform .3s ease-out, opacity 0.5s ease-out, background .5s ease-out;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
}

.photo-thumbnail:hover .info-overlay {
  transform: translateY(0);
  opacity: 1;
}

.photo-thumbnail a.info-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.photo-thumbnail a.info-title:hover {
  color: #0199E5;
}


.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  -webkit-perspective: 1px;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
}
.parallax_layer_base {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.parallax_layer_back {
  transform: translateZ(-1px);
  -webkit-transform: translateZ(-1px);
}

.bg-image {
  width: 100%;
  background: #d5dde3 no-repeat center center;
  background-size: cover;
}

.bg-image img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: auto;
}

.parallax_layer_back { transform: translateZ(-1px) scale(2); }
.parallax_layer_deep { transform: translateZ(-2px) scale(3); }

.parallax-content {
  background: #ffffff;
  margin-top: 50%;
  width: 100%;
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

@media (max-width: 1023px){
  .icon-container {
    display: block;
  }
  .icon-container a:nth-of-type(2)
  {
    display: none;
  }

  .main-nav li {
    width: 30px;
    margin-right: 2%;
  }
}

@media (max-width: 768px) {
  .search-box{
    background: transparent;
    width: 100px;
  }
  .search-input{
    display: none;
  }

  .main-nav{
    padding: 4px 0 4px 0;
  }

  .discover-nav li{
    margin-right: 1rem;
  }
  .photo-thumbnail a.info-title{
    font-size: .8rem;
    padding-bottom: 5px;
  }
}

@media (max-width: 420px) {
  .main-nav a {
    font-size: .5rem;
  }
  .discover-nav{
    font-size: 0.8rem;
  }
}

@media (min-width: 1900px){
  .main-nav a{
    font-size: 2rem;
  }
  .nav-right span {
    width: 20rem;
  }
}